.container{
  border: 2px solid green;
}

nav{
    border: 2px solid orange;
}

h1{
  border: 2px solid blue;
}

ol{
  border: 2px solid purple;
}

li{
  min-height : 30px;
  min-width: 50%;
  padding : 5px;
  border: 2px solid red;
}

.row{
  display:flex;
  border: 2px solid yellow;
  justify-content:   space-between;
}

i{
  
  border: 2px solid pink;
}

.icon-holder{
  margin:auto;
}

.material-icons{
  margin:auto;
  transform: scale(1.2);
  color: blue;
}

.cay{
  background-color: rgba(46, 4, 46, 0.884);
  font-size: 30px;
}

.moh{
  background-color: skyblue;
}

